/* CSS Document */

body {
  margin: 0;
  padding: 0;
  background-image: url(/img/bgtest.gif);
  color: rgb(23, 112, 6);
  font-family: "Courier New", monospace; /*  */
  text-shadow: -0.06em 0 0.5px rgba(255, 200, 100, 0.9);
  font-size: 16px;
}

#container {
  width: 997px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

a:visited,
a:link,
a:active {
  color: rgb(219, 67, 181);
  text-decoration: none;
  transition: ease-in-out 0.2s;
  text-shadow: 1px 0 0.5px rgba(200, 200, 0, 0.5);
}

a:hover {
  color: rgb(57, 219, 57);
  text-shadow: -1px 0 0.5px rgba(255, 200, 100, 0.9);
}

#scanlines {
  margin: 0;
  padding: 0;
  background-image: url(/img/scanlines.png);
  background-repeat: repeat;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-attachment: fixed;
  animation: scanAnim 0.7s infinite;
  animation-timing-function: linear;
  pointer-events: none;
}

@keyframes scanAnim {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 0px 8px;
  }
}

#HyperCam2 {
  position: fixed;
  left: 0;
  top: 0;
  width: 240px;
  height: 22px;
  background-image: url(/img/HyperCam2.jpg);
  background-size: 240px;
}

#buttonbar {
  position: fixed;
  left: 16px;
  bottom: 16px;
  width: 128px;
}

h1 {
  font-size: 32px;
}

#SpiderSkull {
  position: fixed;
  left: 66%;
  top: 0;
  width: 108px;
  height: 93px;
  background-image: url(/img/spiderskull.gif);
  background-size: 108px;
}

#header {
  width: 100%;
}

.headerimg {
  background: url(/img/header.png);
  background-size: 997px;
  width: 997px;
  height: 128px;
  margin: auto;
  margin-top: 16px;
  text-align: center;
  line-height: 128px;
}

#flex {
  display: flex;
}

aside {
  width: 192px;
  order: 1;
  padding: 8px;
}

#sidebar {
}

#footer {
  text-align: center;
  width: 997px;
  margin-bottom: 16px;
}

.window {
  background: rgba(230, 233, 233, 0.33);

  background-position: bottom;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf,
    inset -2px -2px grey, inset 2px 2px #fff;
  padding: 3px;
}
.window.animbg {
  background-image: url(/img/infinitescroll.gif);
  background-size: 100%;
}

/* navigation section!! */
#navbar {
  height: 40px;
  background-image: url(/img/navbar.png);
  background-size: auto 40px;
  /* navbar color */
  width: 100%;
}

#navbar ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  justify-content: space-evenly;
}

#navbar li {
  padding-top: 10px;
}

/* navigation links*/
#navbar li a {
  /* navbar text color */
  font-weight: 800;
  text-decoration: none;
  /* this removes the underline */
}

/* navigation link when a link is hovered over */
#navbar li a:hover {
  text-decoration: underline;
}

main {
  background-color: rgba(255,255,255,0.1);
  flex: 1;
  padding: 16px;
  order: 2;
}